In [2]:
import pandas as pd
import numpy as np

In [31]:
data = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
sample = pd.read_csv('SampleSubmission.csv')
data.head()

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,P5DA,RIBP,...,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,4WKQSBB,1/2/2019,F,M,1987,1X1H,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
1,CP5S02H,1/6/2019,F,M,1981,UAOD,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2YKDILJ,1/6/2013,M,U,1991,748L,QZYX,90QI,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2S9E81J,1/8/2019,M,M,1990,1X1H,BP09,56SI,0,0,...,0,0,0,1,0,0,0,0,0,0
4,BHDYVFT,1/8/2019,M,M,1990,748L,NO3L,T4MS,0,0,...,0,0,0,0,0,0,1,1,0,0

In [32]:
data.shape,sample.shape, test.shape

((29132, 29), (210000, 2), (10000, 29))

In [4]:
data.columns

Index([&#39;ID&#39;, &#39;join_date&#39;, &#39;sex&#39;, &#39;marital_status&#39;, &#39;birth_year&#39;, &#39;branch_code&#39;,
       &#39;occupation_code&#39;, &#39;occupation_category_code&#39;, &#39;P5DA&#39;, &#39;RIBP&#39;, &#39;8NN1&#39;,
       &#39;7POT&#39;, &#39;66FJ&#39;, &#39;GYSR&#39;, &#39;SOP4&#39;, &#39;RVSZ&#39;, &#39;PYUQ&#39;, &#39;LJR9&#39;, &#39;N2MW&#39;, &#39;AHXO&#39;,
       &#39;BSTQ&#39;, &#39;FM3X&#39;, &#39;K6QO&#39;, &#39;QBOL&#39;, &#39;JWFN&#39;, &#39;JZ9D&#39;, &#39;J9JW&#39;, &#39;GHYX&#39;, &#39;ECY3&#39;],
      dtype=&#39;object&#39;)

In [33]:
products =data[['P5DA', 'RIBP', '8NN1',
       '7POT', '66FJ', 'GYSR', 'SOP4', 'RVSZ', 'PYUQ', 'LJR9', 'N2MW', 'AHXO',
       'BSTQ', 'FM3X', 'K6QO', 'QBOL', 'JWFN', 'JZ9D', 'J9JW', 'GHYX', 'ECY3']]
products_t =test[['P5DA', 'RIBP', '8NN1',
       '7POT', '66FJ', 'GYSR', 'SOP4', 'RVSZ', 'PYUQ', 'LJR9', 'N2MW', 'AHXO',
       'BSTQ', 'FM3X', 'K6QO', 'QBOL', 'JWFN', 'JZ9D', 'J9JW', 'GHYX', 'ECY3']]

In [35]:
sample.head()

       ID X PCODE  Label
0  F86J5PC X P5DA      0
1  F86J5PC X RIBP      0
2  F86J5PC X 8NN1      0
3  F86J5PC X 7POT      0
4  F86J5PC X 66FJ      0

In [5]:
data['branch_code'].unique()

array([&#39;1X1H&#39;, &#39;UAOD&#39;, &#39;748L&#39;, &#39;E5SW&#39;, &#39;XX25&#39;, &#39;ZFER&#39;, &#39;30H5&#39;, &#39;9F9T&#39;,
       &#39;O67J&#39;, &#39;94KC&#39;, &#39;49BM&#39;, &#39;BOAS&#39;, &#39;X23B&#39;, &#39;EU3L&#39;, &#39;O4JC&#39;],
      dtype=object)

In [36]:
products.head()

,P5DA,RIBP,8NN1,7POT,66FJ,GYSR,SOP4,RVSZ,PYUQ,LJR9,...,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0

In [37]:
products_t.head()

,P5DA,RIBP,8NN1,7POT,66FJ,GYSR,SOP4,RVSZ,PYUQ,LJR9,...,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [39]:
#Axis Transformation
data = data.melt(id_vars=data.columns[:8], value_vars=products, var_name = "PCODE", value_name="Label" )
test = test.melt(id_vars=test.columns[:8], value_vars=products, var_name = "PCODE", value_name="Label" )

In [40]:
data.head()

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,PCODE,Label
0,4WKQSBB,1/2/2019,F,M,1987,1X1H,2A7I,T4MS,P5DA,0
1,CP5S02H,1/6/2019,F,M,1981,UAOD,2A7I,T4MS,P5DA,0
2,2YKDILJ,1/6/2013,M,U,1991,748L,QZYX,90QI,P5DA,0
3,2S9E81J,1/8/2019,M,M,1990,1X1H,BP09,56SI,P5DA,0
4,BHDYVFT,1/8/2019,M,M,1990,748L,NO3L,T4MS,P5DA,0

In [ ]:
#A merger
data['combiner']='x'

In [41]:
#Set
Data=pd.concat([data,test],sort=False).reset_index(drop=True)

In [42]:
Data.head(3)

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,PCODE,Label
0,4WKQSBB,1/2/2019,F,M,1987,1X1H,2A7I,T4MS,P5DA,0
1,CP5S02H,1/6/2019,F,M,1981,UAOD,2A7I,T4MS,P5DA,0
2,2YKDILJ,1/6/2013,M,U,1991,748L,QZYX,90QI,P5DA,0

In [53]:
from datetime import date
today = date.today()
today = today.strftime("%d/%m/%Y")

In [54]:
Data['today'] = today

In [55]:
Data.head(3)

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,PCODE,Label,today
0,4WKQSBB,1/2/2019,F,M,1987,1X1H,2A7I,T4MS,P5DA,0,04/10/2020
1,CP5S02H,1/6/2019,F,M,1981,UAOD,2A7I,T4MS,P5DA,0,04/10/2020
2,2YKDILJ,1/6/2013,M,U,1991,748L,QZYX,90QI,P5DA,0,04/10/2020

In [56]:
#Confirm Distribution (TEST AND SAMPLE SUBMISSION FILE)
print('==' * 18);print('TRAIN LABEL DISTRIBUTION');print('==' * 18);print(data['Label'].value_counts())
print('==' * 18);print('TEST LABEL DISTRIBUTION');print('==' * 18);print(test['Label'].value_counts())
print('==' * 18);print('SAMPLE SUBMISSION LABEL DISTRIBUTION');print('==' * 18);print(sample['Label'].value_counts())

====================================
TRAIN LABEL DISTRIBUTION
====================================
0    545419
1     66353
Name: Label, dtype: int64
====================================
TEST LABEL DISTRIBUTION
====================================
0    197147
1     12853
Name: Label, dtype: int64
====================================
SAMPLE SUBMISSION LABEL DISTRIBUTION
====================================
0    197147
1     12853
Name: Label, dtype: int64

In [71]:
data.head()

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,PCODE,Label
0,4WKQSBB,1/2/2019,F,M,1987,1X1H,2A7I,T4MS,P5DA,0
1,CP5S02H,1/6/2019,F,M,1981,UAOD,2A7I,T4MS,P5DA,0
2,2YKDILJ,1/6/2013,M,U,1991,748L,QZYX,90QI,P5DA,0
3,2S9E81J,1/8/2019,M,M,1990,1X1H,BP09,56SI,P5DA,0
4,BHDYVFT,1/8/2019,M,M,1990,748L,NO3L,T4MS,P5DA,0

In [72]:
Data.head()

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,PCODE,Label,today
0,4WKQSBB,1/2/2019,F,M,1987,1X1H,2A7I,T4MS,P5DA,0,04/10/2020
1,CP5S02H,1/6/2019,F,M,1981,UAOD,2A7I,T4MS,P5DA,0,04/10/2020
2,2YKDILJ,1/6/2013,M,U,1991,748L,QZYX,90QI,P5DA,0,04/10/2020
3,2S9E81J,1/8/2019,M,M,1990,1X1H,BP09,56SI,P5DA,0,04/10/2020
4,BHDYVFT,1/8/2019,M,M,1990,748L,NO3L,T4MS,P5DA,0,04/10/2020

In [74]:
train=Data[data.combiner.notnull()].reset_index(drop=True);test=Data[Data.combiner.isna()].reset_index(drop=True)
train.drop('combiner', inplace=True, axis=1);test.drop(['Label','combiner'], inplace=True, axis=1)
print(train.shape, test.shape, submission.shape)

AttributeError: &#39;DataFrame&#39; object has no attribute &#39;combiner&#39;